*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    position: fixed;
    width: 100%;

    background-color: #083166;
    
}
nav{
    width: 60%;
    justify-content: flex-end;
    align-content: center;
    display: -webkit-flex;

}
ul li{
    display: inline-block;
}
ul li a{
    padding: 25px;
    align-items: center;
    justify-items: center;
    display: -webkit-flex;

    text-decoration: none;
    color: whitesmoke;
}
li a:hover{
    background-color: #3165af;
    font-weight: bold;
    border-radius: 1px;
}
.acesso{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
}
.acesso [type="button"]{
    color: whitesmoke;
    background-color: #083166;
    border: #c56f0d solid;
    border-radius: 3px;
    padding: 15px 10px;
    width: 20%;
    max-height: 70px;
}
.acesso input:hover{
    /*background-color: #c56f0d;*/
    background-image: linear-gradient(45deg, #c56f0d, #c5a90d);
}
.acesso input:active{
    background-color: #083166;
    box-shadow: #c56f0d 0px 0px 20px;
}
main{
    margin: auto 25%;
    padding-top: 8%;
}
section{
    margin-top: 50px;
}
h1, h2{
    font-size: 4vmin;
}
h2{
    margin-bottom: 25px;
}
p{
    text-align: justify;
}
@media(max-width: 950px){
    header{
        display: block;
        flex-direction: column;
        max-width: 120px;
        height: 100%;
    }
    nav{
        display: block;
        width: 100%;

    }
    ul li{
        display: block;
    }
    ul li a{
        padding: 20px;
    }
    .acesso{
        width: 100%;
    }
    .acesso [type="button"]{
        width: 90%;
        margin-top: 10px;
    }
    main{
        margin-left: 150px;
        margin-right: 50px;
    }
}